@import '../js/src/styles/style.scss';
html, body {
    min-height: 100% !important;
    height: 100%;
}

.admin {
    display: flex;
    height: 100%!important;

    .admin-nav-wrapper {
        width: 250px;
        height: 100%;
        background-color: #002133;
    
        .header {
            color: white;
            width: inherit;
            height: 60px;
            margin-top: 10px;
    
            a {
                display: block;
                text-decoration: none;
                color: white;
                text-align: center;
            }
        }
    
        .slice {
            width: inherit;
            height: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            
            span {
                width: 80%;
                height: 1px;
                background-color: white;
            }
        }
    
        .body {
            width: inherit;
            
            .title-module {
                width: inherit;
                
                p {
                    font-size: 11px;
                    margin-left: 5px;
                    margin-bottom: 5px;
                    color: white;
                    // text-align: center;
                }
            }
    
            .items {
                list-style: none;
                padding-left: 0px;
                margin-left: auto;
    
                .item {
                    a {
                        display: block;
                        padding: 11px 15px 11px 15px;
                        // background-color: rgb(158, 162, 162);
                        margin-bottom: 3px;
                        text-decoration: none;
                        color: white;
                        font-size: 16;
                    }

                    .logout {
                        text-align: center;
                    }

                    i {
                        font-size: 17px;
                        margin-right: 10px;
                    }
                }

                .item:hover a {
                    background-color: rgba(171, 174, 174, 0.307);
                }
            }
            
        }
    
        .footer {
            width: inherit;
            position: fixed;
            bottom: 0;

            p {
                text-align: center;
                color: white;
            }
        }
    }

    .admin-content-wrapper {
        width: 100%;
        height: 100%;
        padding: 5px 24px 5px 24px;
        background-image: url("http://blogvue.local/storage/images/background-content1.webp");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;

        .wrapper-top {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            padding: 24px 24px 20px 5px;
            color: white;

            ul {
                list-style: none;
                display: flex;
                padding-left: 0px;
    
                li {
                    cursor: pointer;
                    margin-right: 10px;
    
                    i {
                        font-size: 29px;
                    }
                }
            }

            .profile {
                margin-left: auto;
            }
        }
        
    }
}
